.post {
  max-width: 40rem;
  margin-top: 5rem;
  border: 1px solid lightgray;
}

.post__img {
  width: 100%;
  object-fit: contain;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.post__avatar {
  margin-right: 0.5rem;
}

.post__comment {
  font-weight: normal;
  padding: 18px;
}
