* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
}

.app__header {
  padding: 25px;
  object-fit: contain;
  border-bottom: 1px solid rgb(206, 203, 203);
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
